
body{
     display: flex;
     background: linear-gradient(to top left,#d1c6f3,#e9bcac);
     background-size: cover;
     background-image: url(../img/1.jpg);
     height: 450vh;
     align-items: center;
     justify-content: center;
 }
.sjb{
    position: relative;
    width: 890px;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 19px 38px rgb(10, 10, 1,0.4),0 15px 12px rgb(73, 43, 8,0.6);
}
.wjdc{
    width: 700px;
    height: 2300px;
    border-radius: 15px;
    background:linear-gradient(to right bottom,rgba(255,255,255,.7), rgba(255,255,255,.5),rgba(255,255,255,.4)) ;
    /*毛玻璃*/
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #be6c97;
}
.bt{
    color: #764c73;
    letter-spacing: 5px;
    text-align: center;
    font: 900 40px '';
    margin: 30px;
}
.box{
    overflow: hidden;
    position: relative;
    top: 50px;
}
.box input {
    width: 80%;
    padding: 10px;
    border: 0;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 3px solid #764c73;
    outline: none;
    font: 900 16px '';
}
.xb{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 60px;
    margin-bottom: 25px;
    width: 80%;
}
.xb label{
    display: flex;
    /*变成小手手*/
    cursor: pointer;
}
.xb label input{
    /*隐藏前面原本的选择框*/
    display: none;
}
.xb label input+span{
    padding: 10px 25px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    color: #81567e;
    font: 600 17px '';
}
.xb label input+span:hover{
    background-color: thistle;
}
.xb label input:checked+span{
    background-color: #eea2c1;
}
.xb label input+span::before{
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow:0 0 0 4px #764c73 inset;
    margin-right: 15px;
    transition: all 0.5s;
}
.xb label input:checked+span::before{
    box-shadow: 0 0 0 6px #764c73 inset;
}
.xb p{
    margin: 0 0 25px 0;
    font:900 20px '';
    color: #764c73;
    letter-spacing: 5px;
}
.xb select{
    display: flex;
    /*变成小手手*/
    cursor: pointer;
    width: 100%;
    background-color: rgba(255,255,255,0);
    color:#764c73;
    font-size: 18px ;
    border-radius: 4px;
    border-width: 7px;
    text-align: center;
    letter-spacing: 19px;
    border-color: #764c73;
    font-weight: 600;
    margin-top: 10px;
}
.xb select option{
    border-radius: 4px;
    font-weight: 600;
    padding: 4px;
}
.xb select option:hover{
    background-color: thistle;
    border-radius: 4px;
    transition: all 0.5s;
    font-weight: 600;
}
.xb textarea{
    border-color: #764c73;
    border-width: 7px;
    font-size: 20px ;
    border-radius: 4px;
    padding: 10px;
    height: 300px;
    font-weight: 600;
    color: #764c73;
    background-color: rgba(255,255,255,0);
}
.xb textarea:hover{
    background-color: rgba(236, 201, 225, 0.4);
}
.dz{
    /*从上到下排列*/
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 130px;
    width: 60%;
}
.dz button{
    background-color: rgba(255,255,255,0);
    border: none;
    margin-bottom:-12px ;
}
.dz  p{
    font: 900 20px '';
    cursor: pointer;
    border-width: 10px;
    color: #fff;
    padding: 10px 0 10px 20px;
    letter-spacing: 20px;
    background: linear-gradient(to left,#847da4,#764c73,#be6c79,#f887a8,#eea2c1);
    border-radius: 4px;
}
.dz button p:hover{
    color: #764c73;
}